.sidebar_ads{
    img{
        width: 100%;
    }
    padding-bottom: 46px;
}
.post_popular{

    &__title{
        border-bottom:1px solid #01a050;
        h5{
            text-transform: uppercase;
            color: #000;
            font-size: 18px;
            font-weight: 600;
            line-height:18px;
            margin-bottom: 16px;
        }
    }
}
.list_post{

    &__item{
        margin-top: 30px;
        a{
            display: flex;
            
            img{
                width:120px;
            }
            h4{
                padding-left: 16px;
                font-size: 16px;
                line-height:18px;
            }
        }
    }
}
@media only screen and (max-width:992px){
    .list_post{

        &__item{
            a{
                flex-wrap: wrap;
                img{
                    width:100%;
                }
                h4{
                    padding-left:0;
                    padding-top: 5px;
                }
            }
        }
    }
}